[submodule "tests/repositories/undici"]
	path = tests/repositories/undici
	url = https://github.com/nodejs/undici.git
[submodule "agent/internal/file-discovery/tests/undici"]
	path = agent/internal/file-discovery/tests/undici
	url = https://github.com/nodejs/undici.git
[submodule "agent/internal/shell-agent"]
	path = agent/internal/shell-agent
	url = https://codeberg.org/cacherevolter/shell-agent
